.title {
  margin: auto !important;
  text-transform: uppercase;
}

.add {
  display: flex;
  justify-content: space-around;
  padding-bottom: 5%;
}
.input {
  background: aliceblue;
  width: 80%;
  border-radius: 10px;
}
.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
  height: 70vh;
  width: 100%;
  background-image: url('https://images.pexels.com/photos/2262620/pexels-photo-2262620.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: darkgrey; */
}
.chip {
  color: white  !important;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #3f669f !important;
  height: 10%;
  width: 90%;
}
.button {

}